* {
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
    font-weight: normal;
    color: beige;
}

body {
    background-color: rgb(39, 39, 39);
}

header {
    background-color: black;
}

.container {
    max-width: 1600px;
    min-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container picture img {
    padding: 10px;
    height: 150px;
    width: 117px;
}

header li {
    display: inline;
    justify-content: space-around;
}

header nav li a {
    padding: 6px;
    text-decoration: none;
    font-size: 20px;
}

header nav li a:hover {
    background-color: beige;
    color: rgb(39, 39, 39);
    border-radius: 15%;
    transition: 0.6s;
}

header input,
header button {
    display: inline;
    margin: 4px;
    height: 25px;
    background-color: rgb(39, 39, 39);
    color: beige;
    border-color: beige;
}

header input {
    width: 200px;
}

header button {
    width: 90px;
    cursor: pointer;
}

header button:hover,
#contato .formulario form button:hover {
    background-color: beige;
    color: rgb(39, 39, 39);
    transition: 0.6s;
}
/*-----------------------------------------------------------------------------------*/
.container-temp {
    display: flex;
    margin: auto;
    max-width: 1600px;
    min-width: 800px;
}

.container-temp {
    max-width: 1600px;
    min-width: 800px;
    width: 100%;
    height: auto;
}

.container-temp img {
    max-width: 1600px;
    width: 100%;
    max-height: auto;
    min-height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

/*-----------------------------------------------------------------------------------*/

/*
SLIDESHOW
*/

/*
#slideshow {
    padding: 0px;
    margin: 0px;
}

.slideshow-container li img {
    display: block;
    justify-content: center;
    max-height: 632px;
    max-width: 1600px;
}

.slideshow-container {
    overflow: hidden;
    position: absolute;
    display: flex;

}

.slideshow-container input {
    display: none;
}

.slideshow-container img {
    justify-content: center;
    max-height: 632px;
    max-width: 1600px;
}

.navegador {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 20px;
}

#bullet {
    height: 18px;
    width: 18px;
    border-radius: 20px;
    margin: 6px;
    background-color: beige;
    opacity: 60%;
    cursor: pointer;
    transition: 0.3s;
}

#bullet:hover {
    background-color: beige;
    opacity: 85%;
    width: 28px;
}

.slideshow-container {
    transition: 0.8s;
}

#slide-1:checked ~ .s1 {
    margin-left: 0;
}

#slide-2:checked ~ .s1 {
    margin-left: -100%;
}

#slide-3:checked ~ .s1 {
    margin-left: -200%;
}

#slide-4:checked ~ .s1 {
    margin-left: -300%;
}

#slide-5:checked ~ .s1 {
    margin-left: -400%;
}

#slide-6:checked ~ .s1 {
    margin-left: -500%;
}
*/

/*-----------------------------------------------------------------------------------*/

section {
    display: inline-block;
    justify-items: center;
    width: 100%;
}

section .container {
    padding: 8px;
}

section h2 {
    padding: 6px;
}

#linha-h2 {
    border-bottom: 2px solid rgba(245, 245, 220);
}

#linha-h2-contato-social {
    width: 780px;
    border-bottom: 2px solid rgba(245, 245, 220);
}

.alinhamento-img-esquerda img {
    float: left;
}

.alinhamento-img-direita img {
    float: right;
}

.alinhamento-img-direita h2 {
    text-align: right;
}

.alinhamento-img-esquerda img,
.alinhamento-img-direita img {
    display: inline;
    padding: 10px;
    height: 400px;
    width: 140px;
}

.texto-guitarra p {
    padding: 8px;
    text-align: justify;
    max-width: auto;
}

.fonte {
    padding: 8px;
    font-size: 12px;
}

#voltar-ao-topo img {
    padding: 0px;
    margin: 8px;
    height: 20px;
    width: 20px;
}

/*
CONTATO
*/

#contato h3 {
    padding: 8px;
}

#contato input,
textarea,
#contato button {
    background-color: rgb(39, 39, 39);
}

.input-nome-telefone input {
    display: flexbox;
    margin: 8px;
    height: 25px;
    width: 368px;
    border-color: beige;
}

.input-email input {
    display: flexbox;
    margin: 8px;
    height: 25px;
    width: 760px;
    border-color: beige;
}

textarea {
    display: block;
    margin: 8px;
    resize: none;
    height: 150px;
    width: 760px;
    border-color: beige;
}

#botao-enviar {
    display: block;
    margin: 8px;
    height: 25px;
    width: 150px;
    cursor: pointer;
    border-color: beige;
}

#social li {
    display: inline;
}

#social li a {
    text-decoration: none;
}

#social li img {
    padding: 8px;
    margin-top: 3px;
    height: 25px;
}

footer {
    display: flex;
    padding: 2px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background-color: black;
}

footer p {
    text-align: center;
    font-size: 15px;
    color: beige;
}