* {
    background-color: rgb(39, 39, 39);
    font-family: "Merriweather", serif;
    font-weight: normal;
    color: beige;
}

header,
body {
    max-width: 1600px;
    min-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    margin: 8px;
    font-family: "Protest Strike", sans-serif;
    font-size: 40px;
}

header nav li {
    display: inline;
    padding: 8px;
    font-size: 12px;
}

header .container {
    border: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body section {
    display: inline-block;
}

.container h2 {
    padding: 6px;
}

.linha-h2 {
    border-bottom: 2px solid rgba(245, 245, 220);
}

#linha-menor-h2 {
    width: 780px;
    border-bottom: 2px solid rgba(245, 245, 220);
}

.alinhamento-img-esquerda img {
    display: inline;
    float: left;
    padding: 8px;
    max-height: 400px;
}

.alinhamento-img-direita img {
    display: inline;
    float: right;
    padding: 8px;
    max-height: 400px;
}

.texto-guitarra p {
    display: flexbox;
    padding: 8px;
    text-align: justify;
    max-width: auto;
}

.fonte {
    padding: 8px;
    font-size: 12px;
}

#voltar-ao-topo img {
    padding: 0px;
    margin: 8px;
    max-height: 20px;
}

#contato,
#social {
    display: flex;
}

#contato h3 {
    padding: 8px;
}

textarea {
    display: block;
    margin: 8px;
    width: 375px;
}

.input-nome-telefone input {
    display: flexbox;
    margin: 8px;
    height: 25px;
    width: 366px;
}

.input-email input {
    display: flexbox;
    margin: 8px;
    height: 25px;
    width: 760px;
}

textarea {
    resize: none;
    height: 150px;
    width: 760px;
}

#botao-enviar {
    display: block;
    margin: 8px;
    height: 25px;
    width: 150px;
    cursor: pointer;
}

form button:hover {
    background-color: beige;
    color: rgb(39, 39, 39);
    text-decoration: underline;
}

#social li {
    display: inline;
    margin: 8px;
}

#social li a {
    text-decoration: none;
}

#social li img {
    padding: 0px;
    max-height: 25px;
}

footer {
    display: inline;
    padding: 2px;
    margin-top: 50px;
    font-size: 10px;
}
